<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <h1>Welcome to signup page</h1>
    <form action="/signupData" method="post">
        <label for="">First Name : </label>
        <input type="text" name="fname" id="fname">
        <br><br>
        <label for="">Last Name : </label>
        <input type="text" name="lname" id="lname">
        <br><br>
        <label for="">Email : </label>
        <input type="email" name="e_mail" id="e_mail">
        <br><br>
        <label for="">Password : </label>
        <input type="text" name="pass" id="pass">
        <br><br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>